name: homelab

networks:
  default:
    name: homelab
    attachable: true
    ipam:
      config:
        - subnet: 10.69.0.0/16
          ip_range: 10.69.0.0/24
          gateway: 10.69.0.1

services:
  media:
    container_name: jellyfin
    image: ghcr.io/hotio/jellyfin:latest
    ports:
      - "8096:8096"
    env_file:
      - .env.base
    volumes:
      - /homelab/config/jellyfin:/config
      - /homelab/data/media:/data
    healthcheck:
      test: curl -fsL http://localhost:8096/health || exit 1

  dashboard:
    container_name: dashy
    image: ghcr.io/lissy93/dashy:latest
    ports:
      - "4000:8080"  # 8080 used by qbittorrent WebUI
    env_file:
      - .env.base
    environment:
      - NODE_ENV=production
    volumes:
      - /homelab/config/dashy/conf.yml:/app/user-data/conf.yml
      - /homelab/config/dashy/assets/item-icons:/app/public/item-icons

  requests:
    container_name: jellyseerr
    image: ghcr.io/hotio/jellyseerr:latest
    ports:
      - "5055:5055"
    env_file:
      - .env.base
    volumes:
      - /homelab/config/jellyseerr:/config
    depends_on:
      media:
        condition: service_healthy
      movies:
        condition: service_healthy
      shows:
        condition: service_healthy

  indexers:
    container_name: prowlarr
    image: ghcr.io/hotio/prowlarr:latest
    ports:
      - "9696:9696"
    env_file:
      - .env.base
    volumes:
      - /homelab/config/prowlarr:/config

  movies:
    container_name: radarr
    image: ghcr.io/hotio/radarr:latest
    ports:
      - "7878:7878"
    env_file:
      - .env.base
    volumes:
      - /homelab/config/radarr:/config
      - /homelab/data:/data
    healthcheck:
      test: curl -fsL http://localhost:7878/ping || exit 1

  shows:
    container_name: sonarr
    image: ghcr.io/hotio/sonarr:latest
    ports:
      - "8989:8989"
    env_file: .env.base
    volumes:
      - /homelab/config/sonarr:/config
      - /homelab/data:/data
    healthcheck:
      test: curl -fsL http://localhost:8989/ping || exit 1

  vpn:
    container_name: gluetun
    image: ghcr.io/qdm12/gluetun:latest  # stable -> gluetun:v3
    cap_add:
      - NET_ADMIN
    env_file:
      - .env.gluetun
    environment:
      - TZ=America/New_York
      - VPN_SERVICE_PROVIDER=mullvad
      - VPN_TYPE=wireguard
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - "8080:8080"  # qbittorrent WebUI

  torrents:
    container_name: qbittorrent
    image: ghcr.io/hotio/qbittorrent:latest  # alternate -> qbittorrent:legacy (pinned 4.3.9)
    # Ports are opened on the vpn service, due to the `network_mode` attribute
    # ports:
    #   - "8080:8080"
    volumes:
      - /homelab/config/qbittorrent:/config:rw
      - /homelab/data/torrents:/data/torrents:rw
    env_file: .env.base
    environment:
      - WEBUI_PORTS=8080/tcp,8080/udp
    network_mode: "service:vpn"
    depends_on:
      vpn:
        condition: service_healthy
